/*激活码*/
*{
	margin:0px;padding:0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.mui-bar .mui-icon-left-nav{
	color:#ccc;
}
.mui-table-view-cell input,.mui-table-view-cell span.span02{
	position: absolute;left: 30%;top:0px;margin-bottom: 0px;
	border:none;padding:0px;
	font-size:14px;
}
.mui-table-view-cell label,.mui-table-view-cell span.span01{
	width:30%;
}
.mui-table-view-cell span.span02{
	top:12px;
}
/*自定义的样式*/
#sliderProgressBar.mui-col-xs-2{
    width: 20%;
}
.mui-table-view-cell span{
	display: block;
}
.d-Input {
	padding-top:50px;width:100%;text-align: center;padding-bottom: 400px;
}
/*自改mui框架中的样式*/
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border-bottom:none;important;
}
.d-Input input{
	width:60%;padding:6px 0;border-radius:8vw;background:#345ff1;
	line-height: 12vw;font-size:6vw;color:#fff;
}