li {
	list-style: none;
}

body {
	background: #FFFFFF;
}

header {
	background: #4072ef;
	width: 100%;
	height: 192px;
	color: white;
	padding-top: 16px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

#hao-h6 {
	font-size: 13px;
	font-weight: 500;
	color: white;
}

#box>span {
	font-size: 13px;
}

#hao-spn2 {
	float: right;
}

#hao-spn1 {
	float: left;
}

.box2 {
	width: 60%;
	height: 40px;
	background: #FFFFFF;
	border-radius: 40px;
	position: absolute;
	left: 20%;
	bottom: -20px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #999999;
}

.box2>img {
	width: 24px;
}
.mui-table-view-cell>p{
	font-size: 17px;
	color: #000000;
}
#hao-img {
	margin-top: -6px;
	vertical-align: middle;
}

.box2>span {
	color: rgb(34, 44, 104);
}

.hao-box1 {
	background: #FFFFFF;
}

.hao-box2 {
	width: 100%;
	height: 260px;
	background: #FFFFFF;
}

.hao-box3 {
	margin-top: 10px;
	width: 100%;
}

.hao-box3-1 {
	padding: 0px 10px 6px 10px;
	line-height: 40px;
	background: #FFFFFF;
	height: 60px;
}
.kong{
	width: 100%;
	height: 10px;
	background: rgb(242, 242, 242);
}
.hao-span1 {
	font-size: 15px;
	padding: 0 10px;
	font-weight: 600;
	float: left;
	border-bottom: 2px solid rgb(34, 44, 104);
	padding-top: 10px;
}

.hao-span2 {
	font-size: 13px;
	padding: 0 10px;
	padding-top: 10px;
	float: right;
	
}
.hao-span2>a{
	color: rgb(200, 204, 211);
}
.hao-box3-2 {
	width: 100%;
	border-top: 1px solid #C0C0C0;
	height: 59px;
}

.hao-box3-2>ul>li {
	float: left;
	height: 40px;
	width: 20%;
	text-align: center;
	color: rgb(200, 204, 211);
	line-height: 40px;
	font-size: 16px;
}

.hao-box3-2>ul {
	padding: 0px;
}

.hao-box3-3 {
	width: 100%;
	border-bottom: 1px solid #C0C0C0;
}

.hao-box3>table>tbody>tr>th {
	width: 20%;
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
}

.hao-box3>table {
	width: 100%;
}

.hao-box4 {
	width: 100%;
	border-top: 10px solid rgb(242, 242, 242);
	background: red;
}

.mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	
	color: rgb(34, 44, 104);
	
}
#sliderSegmentedControl{
	background: #FFFFFF;
	color: rgb(200, 204, 211);
}
#hao-li{
	border-bottom: 1px solid #C0C0C0;
}
.mui-table-view-cell{
	font-size: 17px;
	line-height: 40px;
}

#hao-spn3{
	float: right;
	margin-right:0;
}
.mui-table-view-cell>span{
	float: right;
}
#hao-li2, #hao-li3{
	border-bottom: 1px solid #C0C0C0;
}
#item1mobile, #item2mobile, #item3mobile{
	border-bottom: none;
	height: 45vh;
}
.mui-slider{
	background: #FFFFFF;
}
#hao-bttn{
	margin: 0px 20%;
	margin-bottom: 20px;
	width: 60%;
    line-height: 10vw;
    border-radius: 40px;
    font-size: 4vw;
    color: #fff;
    background: #345ff1;
    box-shadow: 1px 1px 10px #a4c6e5;
}
.mh-right>a, .mh-center>p, .mh-lefe>a{
	color:#FFFFFF;
}
#hao-inp{
	width: 40%;
	height: 100%;
	float: right;
	margin: 0;
	border: none;
}
